body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    
  }
  .navbar {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding:0 13px;
      position: fixed; 
      top: 0;          
      width: 100%; 
      z-index: 1000; 
  }
    
    .logo {
      display: flex;
      align-items: center;
    }
    
    .logo img {
      width: 42px;
      height: 37px;
      margin-right: 5px;
    }
    
    .logo a{
      font-size: 22px;
      color: #585858;
      font-weight: 700;
      text-decoration: none;
    }
    
    .logo a:hover{
      font-weight: bold;
      display: inline-block;
      transform: scale(1.1); 
    }
  
    .nav-items {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .nav-item a {
      color: #424955;
      font-size: 18px;
      padding: 15px 12px;
      margin-right: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      float: left;
    }
  
  
  .nav-items a:hover {
      background-color: #437F54;
      color: #FFFFFF ;
  }
    
    .auth {
      display: flex;
      align-items: center;
    }
    
    .login {
      color: #57993A;
      font-size: 14px;
      margin-right: 18px;
    }
    
    .signup-button {
      padding: 7px 19px;
      margin-right: 20px;
      background-color: #437F54;
      border: none;
      border-radius: 18px;
      color: white;
      font-size: 14px;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
  
    }

    .hamburger-icon {
      display: none; /* Oculto por defecto */
      cursor: pointer;
      font-size: 24px;
      background: none;
      border: none;
      margin-right: 10px;
    }

    @media screen and (max-width: 768px) {
      .hamburger-icon {
        display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
      }
    
      /* Oculta los elementos del menú en pantallas pequeñas */
      .nav-items, .auth {
        display: none;
      }
    
      /* Muestra el menú cuando se hace clic en el ícono de hamburguesa */
      .nav-active .nav-items, .nav-active .auth {
        display: block;
        flex-direction: column;
      }
    }
  
    .signup-button:hover{
      font-weight: bold;
      display: inline-block;
      transform: scale(1.1); 
    }
  
    
    
   /**/
  
    .hero-section {
      width: 100%;
      height: 90%;
      position: relative;
      background-color:#F3CD70 ;  
    }
    
    .main-heading {
      width: 629px;
      position:absolute;
      left:28%;
      top: 188px;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #F8F8F8;
      font-size: 52px;
      font-weight: 700;
      line-height: 50px;
      margin-top: 20px;
    }
    
    .sub-heading {
      width: 224px;
      position: absolute;
      left: 42%;
      top: 153px;
      text-align: center;
      color: white;
      font-size: 20px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
    }
    
    .cta-button {
      left: 43%;
      top: 58%;
      background: white;
      border-radius: 26px;
      color: #171A1F;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      border: none;
      cursor: pointer;
      position: absolute;
      padding: 15px 50px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      text-decoration: none;
    }
    .cta-button:hover{
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      transform: scale(1.1); 
    }
    
    .image {
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .image-large-purple {
      width: 230px;
      height: 230px;
      left: 120px;
      top: 225px;
      background: #D6D3ED;
    }
    
    .image-small-blue {
      width: 86px;
      height: 86px;
      left: 1300px;
      top: 287px;
      background: #D0EBF6;
    }
    
    .image-small-green {
      width: 89px;
      height: 89px;
      left: 64px;
      top: 128px;
      background: #E2F0DB;
    }
    
    .image-medium-blue {
      width: 120px;
      height: 120px;
      left: 36px;
      top: 472px;
      background: #D0EBF6;
      box-shadow: 0 0 1px rgba(23, 26, 31, 0.15);
    }
    
    .image-large-pink {
      width: 160px;
      height: 160px;
      left: 359px;
      top: 462px;
      background: #FFDFF1;
      box-shadow: 0 0 1px rgba(23, 26, 31, 0.15);
    }
    
    .image-large-purple-second {
      width: 160px;
      height: 160px;
      left: 1084px;
      top: 128px;
      background: #D6D3ED;
    }
    
    .image-medium-green {
      width: 120px;
      height: 120px;
      left: 804px;
      top: 482px;
      background: #E2F0DB;
    }
    
    .image-extra-large-pink {
      width: 267px;
      height: 267px;
      left: 1020px;
      top: 315px;
      background: #FFDFF1;
    }
    /**/
    
    .more-information {
      width: 100%;
      height: 80%;
      position: relative;
      background: white;
    }
  
  .more-button {
      padding: 12px 63.5px 12px 72.5px;
      position: absolute;
      top: 412px;
      left: 180px;
      background: white;
      font-size: 14px;
      cursor: pointer;
      border-radius: 26px;
      border: 1px solid #437F54;
      font-family: 'Inter', sans-serif;
  
  }
  
  .more-button:hover{
    font-weight: bold;
    display: inline-block;
    transform: scale(1.1); 
  }
  
  .welcome {
      width: 480px;
      position: absolute;
      top: 234px;
      left: 180px;
      color: black;
      font-size: 24px;
      font-weight: 400;
      line-height: 33px;
  }
  
  .about-proyect {
      position: absolute;
      top: 122px;
      left: 180px;
      color: #323842;
      font-size: 52px;
      font-weight: 700;
      line-height: 74px;
  }
  
  .know-more {
      position: absolute;
      top: 96px;
      left: 180px;
      color: #323842;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
  }
  
  .woman-image-container {
      padding: 44px 17px 0 77px;
      position: absolute;
      top: 43px;
      left: 868px;
      background: #91B77F;
      border-top-left-radius: 244px;
      border-top-right-radius: 244px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
  }
  
  .capabilities-container {
      padding: 24px 15px 24px 15px;
      position: absolute;
      top: 168px;
      left: 708px;
      background: white;
      box-shadow: 0 4px 9px rgba(23, 26, 31, 0.19);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
  }
  
  .capabilities-title {
      color: rgba(0, 0, 0, 0.59);
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
  }
  
  .capability-high-conexion{
      background: #F4FFEF; 
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 12px 39px 11px 20px;
      gap: 8px;
  }
  
  .capability-share{
    background: #dff6ff; 
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px 39px 11px 20px;
    gap: 8px;
  }
  
  .capability-planification{
    background: #fbf4e7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px 39px 11px 20px;
    gap: 8px;
  }
  .capability-high-conexion img, .capability-share img, .capability-planification img {
      width: 18px;
      height: 21px;
  }
  
  .capability-high-conexion div {
      color: #699D51; 
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      width: 120px;
  }
  
  .capability-share div {
    color: #1F799C;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 120px;
  }
  
  .capability-planification div{
    color: #98690C; 
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 120px;
  }
  
  .line-container {
      width: 247px;
      height: 24px;
      position: absolute;
      top: 190px;
      left: 180px;
  }
  
  .line-container img {
      width: 251.75px;
      height:  24.77px;
  }
  
  /**/
    
   .benefits {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    margin-bottom: 200px;    
  }
  
  
  .title, .main-title, .benefit-title, .benefit-title-blue,.benefit-description-blue,.benefit-description-yellow, .benefit-description, .try-now {
    position: absolute;
    word-wrap: break-word;
    text-align: left;
  }
  
  .title {
    left: 44%;
    top: 63px;
    color: #323842;
    font-size: 18px;
    font-weight: 400;
  }
  
  .main-title {
    width: 884px;
    height: 91px;
    left: 360px;
    top: 108px;
    color: black;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    
  }
  
  .benefit-card {
    width: 384px;
    height: 320px;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .yellow-card { background: rgba(255, 241, 140, 0.55); left: 200px; top: 199px; }
  .green-card { background: rgba(208, 234, 163, 0.57); width: 768px; left: 608px; top: 199px; }
  .beige-card { background: rgba(245, 227, 174, 0.59); width: 768px; left: 200px; top: 543px; }
  .blue-card { background: #CEECEF; left: 992px; top: 543px; }
  
  .benefit-title { 
    left: 32px;
    top: 56px;
    color: #323842;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .benefit-description { 
    width: 400px;
    left: 32px;
    top: 108px;
    color: #323842;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .benefit-description-yellow{
  width: 320px;
  left: 32px;
  top: 108px;
  color: #323842;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  }
  
  .benefit-title-blue { 
  left: 32px;
  top: 56px;
  color: #323842;
  font-size: 32px;
  font-weight: 700;
  }
  
  .benefit-description-blue { 
  width: 320px;
  left: 32px;
  top: 128px;
  color: #323842;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  }
  
  .try-now {
    left: 32px;
    top: 262px;
    color: #171A1F;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 26px;
  }
  
  .icon {
    position: absolute;
  }
  
  .pencil-icon { width: 127px; height: 124px; left: 242px; top: 164px; }
  .analyze-icon { width: 261px; height: 236px; left: 486px; top: 56px; }
  .financial-icon { width: 262px; height: 230px; left: 474px; top: 56px; }
  
  
  /**/
  .financial-institutions-banner {
      background-color: #A5D290; 
      color: white;
      padding: 20px 0; 
      overflow: hidden; 
  }
  
  .banner-title {
      font-size: 2rem;
      font-weight: 700; 
      margin-bottom: 1rem; 
      text-align: center;
  }
  
  .logos-container {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      gap: 20px; 
  }
  
  .logo-main {
      height: 120px;
      border-radius: 25px;
  }
  
  @media (max-width: 768px) {
      .logos-container {
          flex-direction: column;
      }
  
      .logo, .logo-main {
          height: auto; 
          max-width: 100px; 
      }
  }
  
  /**/
  
  .blog-section {
      font-family: 'Arial', sans-serif;
      border-radius: 16px;
      margin-right: 0;
      margin:40px 0 40px 70px;
      width: 90%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      gap: 20px;
    }
  
  .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      border: none;
      padding: 10px;
      z-index: 10; 
  }
  
  .carousel-control:hover {
      background: #5D93E1;
      color: white;
  }
  
    .blog-carousel {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100%;
    }
    .blog-content {
      display: flex;
      transition: transform 0.5s ease-in-out;
      max-height: 100%;
    }
    
    .blog-item {
      min-width: 33.333%;
      min-height: 200px; 
      box-sizing: border-box;
      padding: 10px;
      margin:8px 5px;
      box-shadow: 0 4px 9px rgba(23, 26, 31, 0.19);
      border-radius: 12px;
    }
    
    .prev {
      left: 0; 
    }
    
    .next {
      right: 0;
    }
    
    .blog-item img {
      max-width: 100%;
      height: auto; 
      display: block; 
    }
  
  .blog-information{
    display: flex;
    flex-direction: column;
    margin: 0 13px;
  }
  .blog-information p{
    line-height: 25px;
    width: 230px;
  }
  .blog-information h2{
    color: #323842;
    font-size: 52px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 0;
  }
  
  .blog-information a{
    color:#77BF56;
  }
  
  .blog-information a:hover{
    font-weight: bold;
      display: inline-block;
      transform: scale(1); 
  }
  
    /**/
  
    .footer {
      background-color: #437F54;
      color: white;
      padding: 20px 50px;
      
    }
    .footer-content {
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
    }
    .footer-content .logo-section,.newsletter-content, .footer-content .newsletter, .footer-content .social-media {
      display: flex;
      align-items: center;
    }
  
  
    .newsletter-container {
      text-align: center;
      padding: 20px 0;
      border-radius: 22px; 
    }
    
    .newsletter-title {
      color: white;
      margin-bottom: 10px; 
    }
    
    .subscribe-container {
      background-color: #FFFFFF;
      border-radius: 22px;
      display: flex;
      align-items: center; 
      padding: 0;
    }
    
    .subscribe-input {
      flex-grow: 1; 
      border-top-left-radius: 22px; 
      border-bottom-left-radius: 22px;
      border: none; 
      outline: none; 
      padding: 10px 20px;
      font-size: 16px; 
    }
    .subscribe-button {
      background-color: #7ABD8D; 
      color: white;
      border-top-right-radius: 22px; 
      border-bottom-right-radius: 22px;
      border: none;
      padding: 10px 20px;
      cursor: pointer; 
      font-size: 16px; 
    }
    
    .footer-content .social-media img {
      margin: 0 5px;
    }
    .footer-links {
      text-align: center;
      padding-top: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .footer-links a{
      color: white;
      text-decoration:none;
      margin: 0 15px;
    }
  
    .footer-bottom a {
      color: white;
      text-decoration:none;
      margin: 0 10px;
    }
    .footer-links a:hover {
      text-decoration:underline;
    }
    .footer-bottom {
      text-align: center;
      font-size: 12px;
      padding: 20px 0px;
      color: white;
      border-top: 1px solid white; 
    }
    .footer-bottom p {
      margin: 0;
      color: white;
    }
  
  .language-selector-container {
      font-family: Arial, sans-serif; 
      position: relative; 
      background-color: #FFFFFF; 
      border-radius: 10px;
      overflow: hidden; 
      margin-left: 10px;
    }
  
    .language-selector {
      height: 40px; 
      line-height: 40px;
      padding: 0 32px 0 15px; 
      border-radius: 10px; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      font-size: 16px; 
    }
    
    .language-selector-icon {
      position: absolute;
      right: 15px; 
      top: 0; 
      height: 100%; 
      display: flex;
      align-items: center; 
      pointer-events: none; 
    }
    
    .language-selector-icon::after {
      content: '▼'; 
      color: #000000; 
      font-size: 13px;
    }

 /**/
 .faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-top: 40px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 384px;
}

.faq-content {
  text-align: center;
}

.faq-title {
  color: white;
  font-size: 60px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  line-height: 74px;
  word-wrap: break-word;
  margin-bottom: 1 5px;
}

.search-box-faq {
  position: relative;
  margin-top: 0;
}

.search-input {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  width: 400px;
}

.search-input:focus{
  color: #333; 
}
.search-input::placeholder {
  opacity: 1; 
}

.search-input:focus::placeholder {
  color: #bbb;
}

/**/
.faq-section-2 {
  display: flex;
  background: white;
  border-radius: 6px;
  height: 70%;
  margin:20px;
}

.faq-sidebar {
  width: 25%;
}

.nav-links-2 {
  list-style-type: none;
  padding: 0;
}

.nav-item-2 a {
  display: block;
  padding: 20px ;
  background: white;
  border: 1px solid #9095A0;
  border-radius: 30px;
  color: #9095A0;
  font-size: 18px;
  font-family: Inter, sans-serif;
  text-align: center;
  word-wrap: break-word;
  text-decoration: none;
  margin-top: 20px;
  width: 50%;
  margin-left: 120px;
}

.active a {
  background: #437F54;
  color: white;
}

.faq-content-2 {
  width: 55%;
  padding: 1rem;
  margin-left: 100px;
}

.faq-item {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #DEE1E6;
}

.faq-question {
  color: #323842;
  font-size: 22px;
  font-family: Montserrat, sans-serif;
}

.faq-answer {
  color: #4D4D4D;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  display: none;
  margin: 20px 4px;
}

.faq-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #437F54;
  color: white;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

/**/

.contact-faq-content {
  box-sizing: border-box;
  width: 70%;
  padding: 20px;
  background-color: #EDDDB0;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 80px;
  margin-left: 10px;
}

.contact-faq{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.contact-faq h2 {
  color: white;
  font-family: 'Montserrat', sans-serif; 
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  word-wrap: break-word
}

.button-faq {
  background-color: #437F54;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.button-faq:hover {
  background-color: #729486; 
}

/**/

.Centro-de-ayuda {
  position: relative;
  width: 100%;
  height: 462px;
  background-color: #FDFBE1;
  padding: 20px;
  box-sizing: border-box;
}

.Centro-de-ayuda::before {
  content: '';
  position: absolute;
  width: 583px;
  height: 583px;
  background-color: rgba(246, 192, 54, 0.6);
  border-radius: 50% 50% 0 0;
  top: 170px;
  left: 772px;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.Centro-de-ayuda h1 {
  position: absolute;
  left: 132px;
  top: 140px;
  color: #323842;
  font-size: 52px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 74px;
}

.search-box-centro {
  position: absolute;
  left: 132px;
  top: 260px;
  background: white;
  border-radius: 12px;
  border: 1px #B1B1B1 solid;
  padding: 12px 150px; 
  display: flex;
  gap: 8px;
}

.search-box-centro input {
  flex: 1;
  padding: 8px; 
  border: none;
  border-radius: 8px;
  outline: none;
}

.Chart-suport, .atencion24-7 {
  position: absolute;
  padding: 7px 11px;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 6px;
}

.Chart-suport {
  left: 1127px;
  top: 160px;
  background: #437F54;
  color: white;
}

/* Estilo del ícono de reloj y texto "24/7" */
.atencion24-7 {
  left: 768px;
  top: 251px;
  background: #A5D290;
  color: white;
}

.imagen-de-mujer{
  position: absolute;
  left: 850px;
  top: 100px;
}

#cositas {
  text-align: center;
  padding: 70px 0;
  height: 462px;
}

#cositas i{
  font-size: 50px;
}
.container {
max-width: 1200px;
margin: 0 auto;
}

.grupo-contenedor-cositas-1{
display: flex;
justify-content:space-around;
margin-top: 60px;
}

.grupo-contenedor-cositas-2{
display: flex;
justify-content:space-around;
margin-top: 100px;
}

.grupo-contenedor-cositas-1-1, 
.grupo-contenedor-cositas-1-2, 
.grupo-contenedor-cositas-1-3,
.grupo-contenedor-cositas-2-1,
.grupo-contenedor-cositas-2-2,
.grupo-contenedor-cositas-2-3{
  width: 300px;
  height: 100px;
}

/**/
.contact-details a {
  color: #171A1F;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-form {
  background: rgba(255, 255, 255, 0.30);
  border: 1px solid #FFF;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: 558px;
  width: 450px;
}

.contact-form h1 {
  font-family: 'Monserrat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  margin-left: 10px;
}

.contact-form .form-group label{
  margin-top: 21px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  word-wrap: break-word;
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: .5em;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #EDC756;
  border-radius: 12px;
}

.contact-form .submit-btn {
  background: #437F54;
  color: white;
  border: 1px solid #FFF;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-top: 20px;
}

.contact-form .submit-btn:hover {
  background: #37a856;
}

.contact-info {
  margin-top: 2em;
}

.contact-info h2 {
  margin-bottom: 0.5em;
}

.contact-info {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .contact-form,
  .contact-info {
      padding: 10px;
  }
}
.contact-details {
  display: flex;
  justify-content: space-between; 
  text-align: left; 
  margin-left: 300px;
}

.contact-tittle {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-bottom: 46px; 

}

.contact-column {
  flex: 1; 
  padding: 0 10px;
}

@media (max-width: 600px) {
  .contact-details {
      flex-direction: column;
  }

  .contact-column {
      margin-bottom: 10px;
  }
}

.contact-image {
  width: 300px; 
  height: 300px; 
  float: right; 
  margin-left: 150px; 
  margin-top: 20px; 
}

.contact-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.contact-image img {
  height: 400px;
  width: 375px;
  border-radius: 40px 40px 0px 0px;
  background: url(<path-to-image>), lightgray 500px -251px / -100% 150.2% no-repeat;
  box-shadow: 0px 8px 17px 0px rgba(23, 26, 31, 0.23), 0px 0px 2px 0px rgba(23, 26, 31, 0.20);
}
.contact-section {
  background: #437F54;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center ;
  text-align: center;
  padding: 20px;
  color: #424955;
  margin-top: 30px;
}

.contact-column hr {
  width: 200px;
  height: 1px; 
  margin-top: 30px; 
  background-color: #9095A0; 
  margin-left: 0;
}

/**/
.seccion-1{
    background-color: #FFFFFF;
    margin-top: 100px;
    flex-direction: column;
}

.seccion-1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323842;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    margin-bottom: 0;
}

.seccion-1 h1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin:10px 0;
}

.beneficios, .beneficios-2{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}

.beneficios-2{
  margin-top: 180px;
  margin-bottom: 100px;
}

.beneficios h3, .beneficios-2 h3{
  color: #323842;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word
}
.beneficios p, .beneficios-2 p{
  color: #323842;
font-size: 20px;
font-weight: 400;
line-height: 30px;
word-wrap: break-word;
}
.seccion-2 h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:60px ;
}
.seccion-2 i{
    font-size: 48px;
    color: #7ABD8D;
}

.seccion-2-1, .seccion-2-2, .seccion-2-3, .seccion-2-4{
    width: 500px;
    height: 100px;
}
.seccion-3{
  margin-bottom: 60px;
}
.texto {
    position: absolute;
    top:  215%;
    left: 580px;
    width: 360px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.seccion-3 h1{
    margin:0;
    font-size: 120px;
    font-weight: 700;
    color: #437F54;
    font-family: 'Montserrat', sans-serif;
}

.seccion-3 h3{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;    
    color: #323842;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
    margin:0;
}

.seccion-3 p{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-imagen-seccion-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todo-imagen-seccion-3 .imagen1,
.todo-imagen-seccion-3 .imagen8 {
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    margin-top: 420px; 
    font-size: 50px;
}
.todo-imagen-seccion-3 .imagen2,
.todo-imagen-seccion-3 .imagen7 {
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    margin-top: 120px; 
    font-size: 50px;
}


.todo-imagen-seccion-3 .imagen3,
.todo-imagen-seccion-3 .imagen6{
    width: 100px; 
    height: 100px; 
    margin-top: 310px; 
    font-size: 50px;
}
.todo-imagen-seccion-3 .imagen3{
  margin-left: 20px;
}

.todo-imagen-seccion-3 .imagen4,
.todo-imagen-seccion-3 .imagen5{
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    margin-top: 100px; 
    font-size: 50px;
}

.seccion-4{
  display: flex;
  margin: 40px 0;
}

.seccion-testimonios{
  display: flex;
  flex-direction: column;
  padding:0 100px;
}
.seccion-4 i{
    color: #F3C63F;
}

.seccion-4 .Tertimonios{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #323842;
    font-weight: 400;
    margin: 0;
}

.section4-imagen{
    width: 360px;
    height: 100px;
    margin-right: 50px;
}

.section4-imagen2{
    height: 100px;
    margin: 0;
}

.comentario {
  width: 65%;
    font-family: 'Montserrat', sans-serif;
    color: #323842;
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word
}

#comentarios .comentario:nth-child(even) {
    top: 0;
}


/**/
.plans-section {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: #ffffff;
  padding: 40px 0;
}

.plans-section h1 {
  color: #2c3e50;
  font-size: 2.5rem;
}

.description {
  color: #7f8c8d;
  margin-bottom: 2rem;
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan-card {
  background: #ffffff;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.featured {
  background: #437F54;
  color: #ffffff;
}

.featured::after {
  content: "★";
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 50px;
  color: #ffffff;
}

.plan-card h2{
  color: inherit;
  margin: 0.5rem 0;
}

.price {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
}

.price span {
  font-size: 1rem;
}

.plan-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.plan-features,.plan-features-regular  {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  text-align: left;
}

.plan-features li, .plan-features-regular li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.plan-features li::before {
  content: "✔";
  color: #27ae60;
  margin-right: 10px;
}
.plan-features-regular li::before {
  content: "✔";
  color: #ffffff;
  margin-right: 10px;
}
.plan-button-premium{
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 70%;
  font-weight: bold;
  margin-top:20px;
  margin-bottom: 20px;
}
.plan-button-basic{
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  width: 70%;
  font-weight: bold;
  margin-top:80px;
  margin-bottom: 20px;
}
.plan-button-regular{
  background: #ffffff;
  border-style:none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 70%;
  margin-top:50px;
  margin-bottom: 20px;
}
.plan-card button:hover{
  background: #4caf50;
  color: #ffffff;
}
.plan-card:hover{
  transform: translateY(-20px);
}

.plan-card{
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
}
@media (max-width: 990px) {
  .plans-container {
    flex-direction: column;
    align-items: center;
  }
}

/**/

.project-section .container {
  max-width: 80%;
  margin-left:120px;
  margin-bottom: 50px;
  background-color: #FFF7BA8C;
  padding: 10px 30px 10px 40px;

  padding-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 20px;
}
.left-content .header {
  color: #333;
  margin: 54px 0 20px 30px;
  font-size: 57px;
  font-weight: 700;
  line-height: 60px;
  word-wrap: break-word;
}
.content {
  display: flex;
  justify-content: space-between;
}
.left-content {
  max-width: 85%;
}
.left-content img{
  width: 600px;
}
.right-content {
  max-width: 55%;
}
.right-parr{
  margin-top: 62px;
  color: #323842;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  width: 80%;
}

.card01 {
  background: #fff;
  border-radius: 20px 20px 0 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px; /* Adjust as needed */
  font-size: 18px;
}
.card-header {
  color: #9095A0;
}
.card-main {
  color: #A5D290;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card-footer {
  color: #27ae60;
  font-weight: bold;
}
.icon-card {
  background-color: #57993A; /* Adjust to match the icon background color */
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-card img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}
.info-card01{
  display: flex;
  flex-direction: column;
}
.content-card01{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-card{
  display: flex;
  flex-direction: row;
  align-items:end;
}

.card02 {
  background: #57993A;
  border-radius: 20px 20px 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 18px;
  height: 20%;
  padding: 21px 42px;
  margin: 20px;
  display: flex;
}
.card-title{
  color:#FFFFFF;
  font-size: 18px;
  margin-left: 10px;
  line-height: 28px;
}

.content-card02{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-card02 {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-card02 img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}

.row-card-2{
  display: flex;
  justify-content: center;
  align-items:center;
}
.card03 {
  background: #E9B721;
  border-radius: 20px 20px 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 18px;
  padding: 19px 35px;
  margin: 20px 250px;
  display: flex;
}
.card-title-03{
  color:#FFFFFF;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 4px;
  line-height: 28px;
}

.content-card03{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-card-03 img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}

/**/
.imagen_seccion1{	
  display: flex;	
  justify-content: center;	
  align-items: center;	
}	

.icono_play i{	
  display: flex;	
  justify-content: center;	
  align-items: center;	
  font-size: 50px;	
  color: #7ABD8D;	
  position: absolute;	
  top: 400px;	
  left: 50%;	
}	

.imagen_seccion1 img{	
  border-radius: 2% 2% 2% 2%;	
}
/**/
.team-section {
  background-color: #A5D290;
  padding: 20px;
  text-align: center;
}

.team-overlay {
  padding: 20px;
}

.team-heading {
  color: white;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  margin: 10px 0;
}
.team-overlay h3{
  color: white;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}
.team-members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-member {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: 200px; /* Ajustar al tamaño necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.team-image {
  width: 200px; 
  height: 300px;
  margin-bottom: 10px;
  border: none;
}


.team-member-description h3{
  color: #323842;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word
}

.team-member-description p{
  margin-top: 9px;
  color: #323842;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word
}